<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts/dashboard::head"></head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
	<ul th:replace="layouts/dashboard::sidebar"> </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
      <nav th:replace="layouts/dashboard::topbar"></nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Quotes
          
	          <a th:href="@{/quote/create}" class="btn btn-primary btn-icon-split float-right">
	           	<span class="icon text-white-50">
	                <i class="fas fa-flag"></i>
	            </span>
	            <span class="text">Create Quote</span>
	          </a>
           </h1>
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Quote</th>
		      <th scope="col">Tags</th>
		      <th scope="col">Author</th>
		  
		    </tr>
		  </thead>
		  
		
		  <tbody>
		    <tr th:each="quote : ${quotes}">
		      <th th:text="${quote.quoteId}"></th>
		      <td th:text="${quote.quote}"></td>
		      <td>
		      	<div class="tags" th:each="tag: ${quote.tags}" th:text="${tag.tag}"></div>
		      </td>
		      <td th:text="${quote.author}"></td>
		    </tr>
		  </tbody>
		</table>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
     <footer th:replace="layouts/dashboard::footer"></footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->
<div th:replace="layouts/dashboard::scroll-logout"></div>

<div th:replace="layouts/dashboard::scripts"></div>

</body>

</html>
